@keyframes tile-jump {
  0%, 100% {
    transform: translateZ(0px);
  }
  50% {
    transform: translateZ(40px);
  }
}

@layer utilities {
  .animate-tile-jump {
    animation: tile-jump 0.4s ease-in-out;
  }
}